/* =============
    Burger
============= */
#burger-container {
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: none;
    position: relative;
    width: 30px;

    @include md {
        
        margin-left: 40px;
    }

    div {
        background-color: $black;
        height: 2px;
        position: absolute;
        width: 100%;
    }

    div:nth-child(1) {
        top: 0;
    }

    div:nth-child(2) {
        top: 10px;
    }

    div:nth-child(3) {
        top: 20px;
    }
}
