/* =============
    Gallery
============= */

#gallery {
    div {
    h1 {
        text-align: right;
        padding-bottom: 50px;
    }

    div {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
        a {
            display: inline-block;
            color: $red;
            border: 1px solid $red;
            padding: 15px 20px;
            font-weight: 700;
        }
    }

    ul:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        li:nth-child(1) {
            background-image: url("../img/gallery/g1.jpg");
            height: 290px;
            background-position: center;
            background-size: cover;
            grid-column: 1 / span 8;
            grid-row: 1 / span 8;
        }

        li:nth-child(2) {
            background-image: url("../img/gallery/g2.jpg");
            background-position: center;
            background-size: cover;
            grid-column: 5 / span 6;
            grid-row: 6 / span 5;
        }
    }
    ul:nth-child(3) {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        li:nth-child(1) {
            background-image: url("../img/gallery/gn.jpg");
            height: 200px;
            background-position: center;
            background-size: cover;
            grid-column: 1 / span 6;
            grid-row: 1 / span 8;
        }

        li:nth-child(2) {
            background-image: url("../img/gallery/g4.png");
            background-position: center;
            background-size: cover;
            grid-column: 6 / span 3;
            grid-row: 6 / span 5;
        }
    }

    ul:nth-child(4) {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        li:nth-child(1) {
            background-image: url("../img/gallery/g5.jpg");
            height: 350px;
            background-position: center;
            background-size: cover;
            grid-column: 1 / span 10;
            grid-row: 2 / span 8;
        }

        li:nth-child(2) {
            background-image: url("../img/gallery/g6.jpg");
            background-position: center;
            background-size: cover;
            grid-column: 2 / span 4;
            grid-row: 7 / span 4;
        }

        li:nth-child(3) {
            background-color: $red;
            mix-blend-mode: multiply;
            grid-column: 8 / span 3;
            grid-row: 1 / span 4;
            margin-right: -20px;
        }
    }
}
}
