/* =============
    Hero
============= */
.grid2{
    display: grid;
    grid-template-columns: 20px auto 0;
    grid-template-areas: ". content .";

    @include md {
        grid-template-columns: 40px auto 0;
    }

    @include xl {
        grid-template-columns: 0 auto 100px;
    }

    .content2{
        grid-area: content;
    }
}


#heroimg {
    padding-top: 40px;
    @include md {
        padding-top: 60px;
    }
    >div{
        @include md {
            display: grid;
            grid-template-columns: 20% auto;
            grid-template-areas:
            "text hero";
        }

        @include lg {
            grid-template-areas:
            ". text"
            ". hero";
        }
        @include xl {
            grid-template-columns: 25% auto;
        }
    p:nth-child(1) {
        padding: 50px 50px 50px 0;
        font-weight: 700;
        @include md {
            display: none;
        }
        @include lg {
            display: block;
            grid-area: text;
            text-align: right;
            padding: 0 60px 50px 0;
        }

        @include xl {
            padding: 0 0 50px 0;
        }
    }

    p:nth-child(2) {
        display: none;
        @include md {
            display: block;
            grid-area: text;
            display: flex;
            align-items: center;
            font-weight: 700;
            margin-top: -30px;
        }
        @include lg {
            display: none;
        }
    }
    #gridhero {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        @include md {
            grid-area: hero;
        }

        >li:nth-child(1) {
            grid-column: 1 / span 10;
            grid-row: 1 / span 10;
            #slick{
            .carousel {
                .slick-prev {
                    z-index: 100;
                    margin-left: 50px;
                }
                .slick-next {
                    z-index: 100;
                    margin-right: 50px;
                }
            .slick-dots {
                margin-bottom: 40px;
            }
            .slick-dots li button:before {
                color: $white;
            }
            .slick-dots li.slick-active button:before {
                color: $white;
            }
                .slides {

                    height: 500px;
                    background-size: cover;
                    background-position: 55% center;

                    @include sm {
                        height: 600px;
                    }

                    @include md {
                        height: 360px;
                        margin-left: 0;
                    }

                    @include lg {
                        height: 500px;
                    }

                    @include xl {
                        height: 610px;
                    }
                }
                #slide-1 {
                    background-image: url("../img/hero/hero.jpg");
                }

                #slide-2 {
                    background-image: url("../img/hero/hero2.jpg");
                }
                #slide-3 {
                    background-image: url("../img/hero/hero3.jpg");
                }
                #slide-4 {
                    background-image: url("../img/hero/hero4.jpg");
                }
            }

            }

        }
        >li:nth-child(2) {
            background-image: url("../img/hero/sign.png");
            background-size: contain;
            background-position: 55% center;
            height: 170px;
            background-repeat: no-repeat;
            grid-column: 1 / span 5;
            grid-row: 8 / span 3;
            margin-left: -20px;
            z-index: 50;

            @include md {
                grid-row: 7/ span 4;
            }
            @include lg {
                grid-row: 8/ span 3;
                margin-left: -150px;
            }

            @include xl {
                grid-column: 1 / span 4;
                margin-left: -300px;
                margin-top: 30px;
            }
        }

        >li:nth-child(3) {
            @include lg {
                background-color: $red;
                mix-blend-mode: multiply;
                grid-row: 1 / span 2;
                grid-column: 3 / span 8;
                margin-top: -140px;
            }

            @include xl {
                margin-top: -240px;
                margin-right: -100px;
                grid-column: 4 / span 8;

            }
        }
    }
}
}

#about {
    @include md {
        display: grid;
        grid-template-columns: 25% auto 25%;
        grid-template-areas: ". text .";
    }
    @include xl {
        grid-template-columns: auto 720px auto;
    }
    div {
        @include md {
            grid-area: text;
        }
    p {
        padding-bottom: 30px;
        line-height: 21px;
    }
    p:last-child {
        padding-bottom: 0;
    }
}
}
