/* =============
    Menu
============= */

#menu {

    background-image: url("../img/Texture.png");
    background-color: $yellow;
    background-blend-mode: multiply;


    div {


    #video {
        padding-bottom: 50px;
        margin-top: -48%;
        @include md {
            margin-top: -38%;
        }
        @include lg {
            margin-top: -40%;
            padding-bottom: 80px;
        }
        @include xl {
            display: grid;
            grid-template-columns: auto 1024px auto;
            grid-template-areas: ". video .";
            margin-top: -32%;
        }
        article {
            @include xl {
                grid-area: video;
            }
        }
    }

    h1 {
        text-align: center;
    }

    div:nth-child(3) {
        @include lg {
            padding-bottom: 50px;
        }
    }

    div {
        @include md {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "text link";
            grid-gap: 20px;
        }
        @include lg {
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-areas: ". text link .";
            grid-gap: 15px;
        }
        @include xl {
            grid-template-columns: auto 360px 360px auto;
            grid-template-areas: ". text link .";
            grid-gap: 15px;
        }

        p {
            @include md {
                display: flex;
                align-items: center;
                grid-area: text;
            }
        }

        a:link, a:visited {
            padding: 25px 0;
            background-color: $red;
            color: $white;
            display: inline-block;
            font-weight: 700;
            display: flex;
            justify-content: center;
            margin: 30px 0 50px;
            @include md {
                grid-area: link;
            }
            @include lg {
                margin: 0;
                height: 18px;
            }
        }
        a:hover, a:active {
            background-color: transparent;
            border: 1px solid $red;
            color: $red;
        }
    }
}
}

#divider2 {
    background-image: url("../img/menu/animal2.png");
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100vw;
    background-repeat: no-repeat;
    margin: 15vh 0;

    @include md {
        background-image: url("../img/menu/animal.png");
        height: 180px;
        margin: 25vh 0;
    }

    @include lg {
        margin: 20vh 0;
        height: 450px;
    }


}
