/* =============
    Reviews
============= */

#reviews {
    overflow-x: hidden;
    padding-top: 0;
    div {

        @include md {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-areas:
            ". h1 h1 ."
            "p1 p1 . ."
            ". i1 i1 i1"
            "p2 p2 . ."
            "i2 i2 i2 .";
        }
        @include lg {
            grid-template-areas:
            ". h1 h1 ."
            ". p1 p1 ."
            ". . i1 i1"
            ". . p2 p2"
            "i2 i2 p2 p2"
            "i2 i2 . .";

        }

        @include xl {
            grid-template-columns: auto 360px 360px auto;
            grid-template-areas:
            ". h1 h1 ."
            ". p1 . ."
            ". . i1 i1"
            ". . p2 ."
            "i2 i2 p2 ."
            "i2 i2 . .";

        }
        h1 {
            text-align: right;
            @include md {
                grid-area: h1;
            }
        }

        p {
            @include lg {
                width: 75%;
            }
            @include xl {
                width: 100%;
            }
            span {
                font-weight: 700;
            }
        }

        p:nth-child(2) {
            @include md {
                grid-area: p1;
            }
        }
        p:nth-child(4) {
            @include md {
                grid-area: p2;
            }
        }

        article:nth-child(3) {
            padding-bottom: 50px;
            @include md {
                grid-area: i1;
            }
            @include xl {
                padding-bottom: 80px;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);

                @include lg {
                    margin-top: -80px;
                }

                @include xl {
                    margin-top: -200px;
                }

                li:nth-child(1) {
                    background-image: url("../img/reviews/review0.jpg");
                    height: 220px;
                    grid-column: 2 / span 9;
                    grid-row: 3 / span 7;
                    background-size: cover;
                    @include sm {
                        height: 300px;
                    }
                    @include xl {
                        height: 420px;
                    }
                }
                li:nth-child(2) {
                    background-image: url("../img/reviews/poster2.png");
                    grid-column: 8 / span 3;
                    grid-row: 1 / span 5;
                    background-size: cover;
                    margin-right: -50px;
                    @include lg {
                        grid-column: 1 / span 3;
                        grid-row: 6 / span 5;
                        margin-right: 0;
                    }
                    @include xl {
                        margin-left: -60px;
                    }
                }
                li:nth-child(3) {
                    background-color: $yellow;
                    mix-blend-mode: multiply;
                    grid-column: 1 / span 5;
                    grid-row: 7 / span 4;
                    @include lg {
                        grid-column: 7 / span 4;
                        grid-row: 1 / span 5;
                        margin-right: -60px;
                    }
                    @include xl {
                        margin-right: -100px;
                    }

                }
            }
        }

        article:nth-child(5) {
            padding-top: 50px;
            @include md {
                grid-area: i2;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);

                @include lg {
                    margin-top: -80px;
                }

                li:nth-child(1) {
                    background-image: url("../img/reviews/review2.jpg");
                    height: 250px;
                    grid-column: 1 / span 8;
                    grid-row: 1 / span 9;
                    background-size: cover;
                    background-position: center;
                    @include md {
                        grid-column: 1 / span 10;
                        grid-row: 3 / span 8;
                        height: 350px;
                    }

                    @include lg {
                        grid-column: 1 / span 9;
                        grid-row: 2 / span 6;
                        height: 300px;
                    }
                    @include xl {
                        height: 350px;
                        grid-column: 1 / span 8;
                        grid-row: 3 / span 6;
                    }

                }
                li:nth-child(2) {
                    background-image: url("../img/reviews/stamp.png");
                    grid-column: 7 / span 4;
                    grid-row: 6 / span 5;
                    background-size: contain;
                    background-repeat: no-repeat;
                    @include md {
                        grid-column: 8 / span 3;
                        grid-row: 1 / span 5;
                        margin-left: 80px;
                        margin-right: -80px;
                        margin-top: -200px;
                    }
                    @include lg {
                        grid-row: 8 / span 3;
                        margin-top: -50px;
                        margin-left: 300px;
                        margin-right: -300px;
                    }
                    @include xl {
                        margin-left: 600px;
                        margin-right: -600px;
                        margin-top: -100px;
                        margin-bottom: -100px;
                    }

                }
                li:nth-child(3) {
                    @include md {
                        background-color: $yellow;
                        mix-blend-mode: multiply;
                        grid-column: 1 / span 3;
                        grid-row: 1 / span 7;
                        margin-left: -40px;
                    }

                    @include lg {
                        grid-row: 1 / span 10;
                        grid-column: 1 / span 5;
                        margin-left: -60px;
                    }
                    @include xl {
                        margin-left: -100px;
                    }

                }
            }
        }
    }
}

#divider3 {
    background-image: url("../img/reviews/stamp4.png");
    background-position: center;
    background-size: contain;
    height: 80px;
    background-repeat: no-repeat;
    margin: 25vh 0;
    @include md {
        margin: 20vh 0;
    }

}
