/* =============
    Footer
============= */
footer{
    background-image: url("../img/Texture.png");
    background-color: $red;
    background-blend-mode: multiply;
    color: $white;
    text-align: center;

    div {

        section {
            p:nth-child(1) {
                padding-bottom: 30px;
                @include md {
                    grid-area: content
                }
            }
        @include md {
            display: grid;
            grid-template-columns: 25% 50% 25%;
            grid-template-areas:
            ". content ."
            ". form .";
            padding-bottom: 30px;

            form {
                @include md {
                    grid-area: form;
                }
            }
        }



    }
}
}
