/* =============
    Header
============= */
header{

    div {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "bars logo"
        "nav nav";

        section:nth-child(1) {
            grid-area: bars;

            @include lg {
                display: none;
            }


            button {
                background-color: white;
                border: none;
                outline: none;
                padding: 0 0 10px 0;
            }
        }

        section:nth-child(2) {
            background-image: url("../img/header/logo.png");
            height: 40px;
            background-size: contain;
            grid-area: logo;
            background-repeat: no-repeat;
            background-position: center right;
            margin: 10px 20px 0 0;
            @include md {
                margin-right: 40px;
                margin-bottom: 40px;
            }
}

        nav {
            grid-area: nav;
            background-color: black;
            margin: 0 0 0 20px;
            display:none;

            @include lg {
                background-color: inherit;
                display: block !important;
            }


            }
        }







}
