/* =============
    Forms
============= */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	box-shadow: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus{
	box-shadow: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}
form{
	display: grid;

	grid-template-columns: 78% auto;
	grid-template-areas:
	"email button";


	input{
		width: 100%;
		border: none;
		padding: 10px;
		// height: 30px;
	}

	div:nth-child(1){
		grid-area: email;
	}
	div:nth-child(2){
		grid-area: button;
		display: inline-block;
		display: flex;
		justify-content: center;
		button{
			border: none;
			color: $white;
			background-color: $yellow;
			padding: 10px;
		 	width: 100%;
			font-weight: 700;
		}
	}
}
