/* =============
    Navigation
============= */

header {
    ul {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: rem-calc(18);
            margin: 10px 0 10px 10px;

        @include lg {
            // display: flex;
            // justify-content: flex-start;
            // align-items: center;
        }

        li {

            a:link, a:visited{
                display: inline-block;
                color: $white;
                padding: 5px 0;
                text-decoration: underline;

            @include lg {
                padding: 10px 0;
                color: $black;
            }
            }
            a:hover, a:active {
                color: $red;
                text-decoration: none;
            }


        }
    }
}
