/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 567px;

// Small tablets (portrait view)
$screen-md-min: 703px;

// Tablets and small desktops
$screen-lg-min: 950px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
